* {
    margin: 0;
    padding: 0;
}

.top {
    padding-bottom: 99px;
}

.header {
    padding: 39px 0px;
}

.top_content {
    margin-top: 160px;
    margin-bottom: 193px;
}

.subtitle {
    margin-bottom: 10px;
}

.title {
    margin-bottom: 40px;
}

.top_buttons {
    margin-top: 50px;
}